body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.marks {
  display: flex;
  flex-direction: column;
}
.container_two {
  display: grid;
  grid-template-rows: 428px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 30px;
  border: 50px;
  gap: 15px;
}
img {
  max-width: 300px;
  max-height: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}
ul {
  list-style-type: none;
}
.cardclass:hover {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.cardclass > ul :hover {
  color: red;
  background-color: rgb(224, 192, 255);
}
@media screen and (max-width: 1060px) {
  .container_two {
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 730px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .container_one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container_two {
    grid-template-columns: 1fr;
  }
}
