body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.marks {
  display: flex;
  flex-direction: column;
}
.container_two {
  display: grid;
  grid-template-rows: 428px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 30px;
  border: 50px;
  gap: 15px;
}
.cardclass > img {
  max-width: 300px;
  max-height: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}
ul {
  list-style-type: none;
}
.cardclass:hover {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.cardclass > ul :hover {
  color: red;
  background-color: rgb(224, 192, 255);
}
@media screen and (max-width: 1060px) {
  .container_two {
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 730px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .container_one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container_two {
    grid-template-columns: 1fr;
  }
  .navegacion {
    flex-wrap: wrap;
  }
} /*Fin de la media querie*/
.logo {
  width: 200px;
  height: 80px;
}
header {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
nav {
  width: 100%;
  margin: 0 20px;
  /* display: flex;
  margin: 5px;
  width: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: clamp(0.5em, 1em, 5em); */
}
.navegacion {
  padding-left: 0px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  flex-grow: 1;
  flex-shrink: 1;
  /* font-size: 50px; */
  font-size: clamp(20px, 2vw, 5em);
}
.navegacion > li {
  /* flex-grow: 1;
  flex-shrink: 1;
  /* font-size: 30px; */
  /* font-size: clamp(0.1em, 3vw, 5em);  */
}
.inputbuscador {
  height: 25px;
  margin: 5%;
  font-size: large;
  border: 2px solid black;
  border-radius: 6px;
  width: 80%;
  /* hay que hacer que las letras sean responsive*/
}
input::placeholder {
  font-size: clamp(10px, 2vw, 1em);
}
